@media screen and (max-width: 576px){
    /* navbar styles */
    .navbar{
        width: 90%;
    }

    .navbar>i{
        display: block;
    }

    .nav-options{
        display: none;
    }


    /* banner styles */
    .banner-container{
        width: 90%;
        /* padding-top: 100px; */
    }

    .banner-content{
        width: 87%;
    }

    .banner-content h1{
        font-size: 2rem;
        margin-top: 32px;
    }

    .banner-content p{
        margin-top: 8px;
    }

    .travel-inputs{
        width: 100%;
        flex-direction: column;
        /* margin-bottom: 32px;
        margin-top: 32px; */
        margin: 32px 0;
        gap: 16px;
    }

    .travel-inputs>input, .travel-inputs>select{
        width: auto;
    }


    /* our popular tours section styles */
    .popular-container{
        width: 90%;
        flex-direction: column;
        margin-top: 50px;
        gap: 24px;
    }

    .popular-text-content>div{
        margin-top: 30px;
    }

    .popular-text-container button{
        margin-top: 30px;
    }

    .popular-container img{
        width: 100%;
        height: 100%;
    }


    /* choose your destination section styles */
    .destination-container{
        width: 90%;
        margin-top: 50px;
        gap: 16px;
    }

    .destination-text-content p{
        margin-top: 16px;
    }

    .destination-image-content{
        gap: 16px;
    }

    .row-1, .row-3{
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
    
    .row-2{
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .row-1 img, .row-2 img, .row-3 img{
        height: 200px;
    }

    .image-1 h5, .image-2 h5, .image-3 h5, .image-5 h5, .image-6 h5, .image-7 h5{
        bottom: 43%;
        left: 32%;
    }

    .image-4 h5{
        bottom: 43%;
        left: 25%;
    }


    /* why choose us section styles */
    .choose-us-container{
        width: 90%;
    }

    .choose-us-text-content p{
        margin-top: 16px;
    }

    .choose-us-card-content{
        margin-top: 16px;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .card-3{
        grid-column: 1;
    }
}