@media screen and (max-width: 576px){
    /* navbar styles */
    .navbar{
        width: 90%;
    }

    .navbar>i{
        display: block;
    }

    .nav-options{
        display: none;
    }


    /* banner styles */
    .banner-container{
        width: 90%;
        /* padding-top: 100px; */
    }

    .banner-content{
        width: 80%;
    }

    .banner-content h1{
        font-size: 2rem;
        margin-top: 32px;
    }

    .banner-content p{
        margin-top: 8px;
    }

    .travel-inputs{
        width: 100%;
        flex-direction: column;
        /* margin-bottom: 32px;
        margin-top: 32px; */
        margin: 32px 0;
    }

    .travel-inputs>input, .travel-inputs>select{
        width: auto;
    }
}